body{
  padding:0px;
  margin:0px;
  height: 100vh;
  box-sizing:border-box;
  display:flex;
  justify-content:center;
  align-items:center;
}
#root{
  width:600px;
  padding: 20px 10px;
  background-color: rgb(239, 233, 156);
  text-align: center;
}
